.App {
  color: #216477 ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px auto;
  padding: 20px;
  text-align: center;
  width: 960px;
}

.App-logo {
  border-radius: 5px;
  display: block;
  height: 150px;
  width: 73%;
}

.App-header {
  background: linear-gradient(to bottom, #3d67b3, white);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

.App-header h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0px;
}

.App-link {
  color: #413832;
  text-decoration: none;
  text-shadow: 0.4px 0.4px #216477 ;
}


@media (min-width: 1200px) {
  .App-header h1 {
    font-size: 22px;}
  }
  
  @media (min-width: 992px) {
    .App-header h1 {
      font-size: 20px;}
  }
  
   @media (min-width: 768px) {
    .App-header h1 {
      font-size: 18px;}
  }
          
  @media (min-width: 576px) {
    .App-header h1 {
      font-size: 16px;}}
    
  @media (max-width: 575px) {
  .App-header h1 {
    font-size: 14px;}}
  

