.AppMain {
    background: linear-gradient(white, white, #d9c8b4);
    border-radius: 5px;
    padding-bottom: 20px;
    margin: 20px auto 5px auto;
    
}

.Intro h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px auto;
}

.row {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 5px 5px;
}

.col-4, .col-6, .col-10 {
    padding: 5px 5px;
    box-sizing: border-box; 
    margin: 5px; 
}

.col-4 h3, .col-6 h3, .col-10 h3 {
    background-color: white;
    border: 5px ridge #d9c8b4;
    border-radius: 5px;
    color: #216477;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin: 0px;
}

.col-4 a, .col-6 a, .col-10 a {
    color: #216477;
    font-size: 20px;
    text-decoration: none;
}

.col-4 a:hover, .col-6 a:hover, .col-10 a:hover {
    color: #413832;
}

@media (max-width: 575px) {
    .Intro h2 {
        font-size: 14px;
    }

    .col-4 h3, .col-6 h3, .col-10 h3, .col-4 a, .col-6 a, .col-10 a {
        font-size: 14px;
    }

    .row {
        flex-direction: column; 
    }

    .col-4, .col-6, .col-10 {
        flex: 1 1 100%; 
        max-width: 100%; 
    }
}

@media (min-width: 576px) {
    .Intro h2 {
        font-size: 16px;
    }

    .col-4 h3, .col-6 h3, .col-10 h3, .col-4 a, .col-6 a, .col-10 a {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .Intro h2 {
        font-size: 20px;
    }

    .col-4 h3, .col-6 h3, .col-10 h3, .col-4 a, .col-6 a, .col-10 a {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .Intro h2 {
        font-size: 24px;
    }

    .col-4 h3, .col-6 h3, .col-10 h3, .col-4 a, .col-6 a, .col-10 a {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .Intro h2 {
        font-size: 26px;
    }

    .col-4 h3, .col-6 h3, .col-10 h3, .col-4 a, .col-6 a, .col-10 a {
        font-size: 22px;
    }
}
